/* Mobile */
@media (max-width: 46.1875em) {
  #header {
    overflow: hidden;
  }
  #header .search-btn {
    display: none;
  }
  #header .mobile-menu-btn {
    display: block;
  }
  #nav {
    display: block;
  }
  #nav > li {
    display: block;
  }
  #nav > li:first-child {
    display: inline-block;
  }
  #nav .subnav {
    position: initial;
    background-color: #333;
  }
  #nav li a {
    padding: 1px 24px;
  }
  #nav .subnav a {
    color: #fff;
    padding: 5px 42px;
    line-height: 38px;
  }
  #content .member-avatar {
    width: 60%!important;
  }
  .s-full-width,
  .s-col-full {
    width: 100%!important;
  }
  
  .contact-form{
    margin-top: 16px;
  }
  .s-mt-8 {
    margin-top: 8px!important;
  }
}
/* Tablet & Mobile */
@media (max-width: 63.9375em) {
  .btn {
    padding: 15px 16px;
  }
  .contact-form .form-control {
    padding: 15px;
  }
  #footer .social-list {
    font-size: 48px;
  }
  #footer .social-list a {
    margin-top: 0 8px;
  }
  #footer .copyright a {
    display: inline-block;
    padding: 12px 0;
  }
}
/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  #header .mobile-menu-btn {
    display: none;
  }
}
/* PC */
@media (min-width: 64em) {
  #header .mobile-menu-btn {
    display: none;
  }
}

